@import "tailwindcss";

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Inter', sans-serif;
    }
}

.table-cell {
    border: 1px solid black;
    padding: 6px 8px;
}

.btn-primary {
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #60a5fa;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #bfdbfe;
}

.btn-danger {
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #EF5350;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-danger:hover {
    background-color: #EF9A9A;
}